<html>
	<head>
		<script type="text/javascript" src='angular.js'></script>
		<script type="text/javascript" src='app.js'></script>
	</head>
	<body ng-app="app">
		<form name="theForm" ng-controller="ReviewController as controller">
			<blockquote>
				<b>Stars: {{controller.review.stars}}
				<br/>	
				<p>{{controller.review.body}}</p>
				<cite>by: {{controller.review.author}}</cite>
			</blockquote>
			<select ng-model="controller.review.stars" ng-options="stars for stars in [5,4,3,2,1]">
				<option value="">Selecciones las estrellas</option>
			</select>
			<br/>
			<textarea ng-model="controller.review.body"></textarea>
			<br/>
			<label>by:</label>
			<input ng-model="controller.review.author" type="email" />
			<br/>
			<input type="submit" value="Submit">
		</form>
	</body>
</html>